// theme font
$primary-font:  "Space Grotesk", sans-serif;

// theme color
$primary-color: #ffff00;
$secondary-color: #141414;
$heading-color: #B0B0B0;
$white-color: #ffffff;
$black-color: #000000;
$border-color: #4f4f4f;
$home-2-text-color: #6D6D6D;
$process-slide-bg: #FBFFE7;

// google font
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

// transition
$transition: all .3s ease-in;
$transition-long: all .5s ease-in;